
APP_NAME=FastAPI_Skeleton
DESCRIPTION=Production-ready FastAPI starter template with Clean Architecture
DEBUG=False
SECRET_KEY=e711a1f00e4121b9f89506da969fb7c35f4489f86d8c366c3956d1754b904f20
DATABASE_URL=postgresql://user:password@host:port/db_name